.characters_container {
    display: flex;
    flex-wrap: wrap;
}

.character_link {
    display: inline-block;
    margin-right: 10px;
    color: black;
}

.character_link:hover {
    text-decoration: none;
}

h1 {
    margin-left: 50px;
}

.charactersCount {
    font-size: 32px;
    color: grey;
}

.paginationContainer {
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.page {
    margin-right: 50px;
    margin-bottom: 50px;
    padding: 15px;
    cursor: pointer;
    user-select: none;
}

.nextLabel {
    margin-bottom: 50px;
}

.page:hover {
    background-color: yellow;
}


@media screen and (max-width: 1025px) {
    .characters_container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 426px) {
    h1 {
        font-size: 38px !important;
    }
    .comicsCount {
        font-size: 24px;
        color: grey;
    }
}
