.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 25px;
    background-color: red;
}

.logo {
    color: red;
    height: 50px;
    width: auto;
}

.navigation {
    display: flex;
    align-items: center;
}

.navList {
    font-size: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0 30px 0 0;
    display: flex;
        gap: 25px;
}

.logoLink {
    text-decoration: none;
}

.link {
    margin-right: 20px;
    text-decoration: none;
    color: white;
}

.link:hover {
    color: yellow;
}

@media screen and (max-width: 800px) {
    .logo {
        color: red;
        height: 50px;
        width: 100px;
    }

    .navList {
        font-size: 16px;
        padding-left: 5px;
        gap: 15px;
    }
}

@media screen and (max-width: 650px) {
    .logo {
        color: red;
        height: 35px;
        width: 70px;
    }

    .navList {
        font-size: 15px;
        padding-left: 4px;
        gap: 10px;
    }
}

@media screen and (max-width: 550px) {
    .logo {
        color: red;
        height: 30px;
        width: 60px;
    }

    .navList {
        font-size: 13px;
        padding-left: 3px;
        gap: 6px;
    }
}

@media screen and (max-width: 480px) {
    .logo {
        color: red;
        height: 25px;
        width: 50px;
    }

    .navList {
        font-size: 11px;
        gap: 3px;
        padding: 0 20px 0 0;
    }

    .header {
        padding: 25px 14px;
    }
}

@media screen and (max-width: 415px) {
    .logo {
        color: red;
        height: 20px;
        width: 40px;
    }

    .navList {
        font-size: 10px;
    }

    .header {
        padding: 25px 14px;
    }
}

@media screen and (max-width: 375px) {
    .logo {
        color: red;
        height: 15px;
        width: 30px;
    }

    .navList {
        font-size: 9px;
    }

    .header {
        padding: 25px 10px;
    }
}