.search_container {
    display: flex;
    justify-content: space-between;
    margin: 10px 50px 0;
}

.search_input {
    width: calc(100% - 120px);
    margin-right: 20px;
}

.search_button {
    width: 250px;
    background-color: orange;
    color: white;
    border-radius: 0;
}

@media screen and (max-width: 768px) {
    .search_button {
        width: 225px;
    }

    .search_input {
        width: calc(100% - 50px);
        margin-right: 20px;
    }
}

@media screen and (max-width: 600px) {
    .search_button {
        width: 125px;
    }
}