.comic_link {
    display: inline-block;
    margin-right: 10px;
    color: black;
}

.comic_link:hover {
    color: black;
    text-decoration: none;
}

.comics_container {
    display: flex;
    flex-wrap: wrap;
}

h1 {
    margin-left: 50px;
    font-weight: 700;
}

.comicsCount {
    font-size: 32px;
    color: grey;
}

@media screen and (max-width: 426px) {
    h1 {
        font-size: 28px !important; /* Уменьшение размера шрифта */
    }
    .comicsCount {
        font-size: 20px;
        color: grey;
    }
}